<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Cinephiles</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/application.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
</head>
<body class="body">

  <nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cinephiles</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/popular">Popular</a></li>
        <li><a href="/comingsoon">Coming Soon</a></li>
        <li><a href="/theater">Theater</a></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="./">Login<span class="sr-only"></span></a></li>
        <li><a href="/register">Register</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/movie" method="get">
        <input type="text" name="movie" class="form-control" placeholder="Search for a movie...">
        <input type="submit" class="form-control" value="Search">
      </form>
    </div>
  </nav>

  <h1 id="welcome">Watch movies anytime, anywhere</h1>
  <h3 id="sub_welcome">Welcome to the Cinephiles, your private theater</h3>

  <div id="home_popular_movies_div">
    <h3>Popular Movies</h3><br>
    <div class="home_popular_movie">
      <img src="<%= @popular_movie1.poster %>">
      <h4><%= @popular_movie1.title %></h4>
      <h5><%= @popular_movie1.year %></h5>
    </div>
    <div class="home_popular_movie">
      <img src="<%= @popular_movie2.poster %>">
      <h4><%= @popular_movie2.title %></h4>
      <h5><%= @popular_movie2.year %></h5>
    </div>
    <div class="home_popular_movie">
      <img src="<%= @popular_movie3.poster %>">
      <h4><%= @popular_movie3.title %></h4>
      <h5><%= @popular_movie3.year %></h5>
    </div>
    <div class="home_popular_movie">
      <img src="<%= @popular_movie4.poster %>">
      <h4><%= @popular_movie4.title %></h4>
      <h5><%= @popular_movie4.year %></h5>
    </div>
  </div>

  <video autoplay loop poster="../images/ironman.jpg" id="bgvid">
    <source src="../images/avengers.webm" type="video/webm">
    <source src="../images/avengers.mp4" type="video/mp4">
  </video>
  <!-- <button id="vidpause">Pause</button> -->

  <div class="white_footer" id="footer"></div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="js/application.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script>
  (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
  e=o.createElement(i);r=o.getElementsByTagName(i)[0];
  e.src='//www.google-analytics.com/analytics.js';
  r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
  ga('create','UA-XXXXX-X');ga('send','pageview');
  </script>
</body>
</html>
